{% extends 'index.html' %}

{% from 'components/navbar/navbar.html' import navbar %}
{% from 'icons/actions/open.html' import open %}
{% from 'icons/spinner.html' import spinner %}

{% block page %}
<div class="flex h-screen bg-gray-100 font-sans">
    {{ navbar() }}

    <div id="loading-spinner"
        class="absolute left-0 top-0 h-full w-full z-50 bg-black/70 backdrop-blur-sm flex items-center justify-center hidden">
        <div class="relative flex flex-col items-center gap-4">
            {{ spinner() }}
            <p class="text-white font-semibold text-2xl">Loading</p>
            <div class="h-20 flex items-center justify-center">
                <p id="loading-spinner-fact" class="text-white/90 text-center text-sm max-w-xs"></p>
            </div>
        </div>
    </div>

    <div class="flex-1 flex flex-col overflow-hidden">
        <div class="flex items-center justify-between px-6 py-4 bg-white border-b border-gray-200">
            <button id="toggle-sidebar" class="text-gray-500 hover:text-gray-600 lg:hidden">
                {{ open() }}
            </button>
            <h1 class="ml-4 text-xl font-semibold">‎</h1>
        </div>

        <div class="md:p-6 overflow-auto">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script>
    const toggleSidebarButton = document.getElementById('toggle-sidebar');
    const sidebar = document.getElementById('sidebar');
    const closeSidebarButton = document.getElementById('close-sidebar');

    toggleSidebarButton.addEventListener('click', () => {
        sidebar.classList.toggle('-translate-x-full');
    });

    closeSidebarButton.addEventListener('click', () => {
        sidebar.classList.add('-translate-x-full');
    });

    const facts = [
        "Intecat's favorite fruit is obviously the apple 🍏🍎.",
        "Intecat employees dream in Retina display resolution 🌈🖥️.",
        "Intecat has a sixth sense for spotting liquid damage 💧👃.",
        "Intecat's biggest flex: they can tell you your battery health just by looking at your phone 🔋👀.",
        "Intecat employees can recognize every Apple product by the sound it makes when it powers on 🔊🍎.",
        "Intecat's customer service is so good, even their automated messages feel personal 🤝🤖.",
    ];


    function showSpinner() {
        console.log("showSpinner called");
        const spinner = document.getElementById('loading-spinner');
        const fact = document.getElementById('loading-spinner-fact');

        spinner.classList.remove('hidden');
        spinner.style.width = window.innerWidth + 'px';

        fact.textContent = facts[Math.floor(Math.random() * facts.length)];

        console.log("showSpinner completed");
    }

    var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

    if (isSafari) {
        document.querySelectorAll("li a").forEach(function (anchor) {
            anchor.addEventListener("click", function () {
                showSpinner();
            });
        });

        document.querySelectorAll("input[type='date']").forEach(function (input) {
            input.addEventListener("change", function () {
                this.blur();
                showSpinner();
            });
        });

        document.querySelectorAll('[id*="Dropdown-items"] li button').forEach(function (button) {
            button.addEventListener("click", function () {
                showSpinner();
            });
        });
    } else {
        window.addEventListener('beforeunload', function () {
            showSpinner();
        });
    }

    window.onresize = function () {
        const spinner = document.getElementById('loading-spinner');
        spinner.style.width = window.innerWidth + 'px';
    };
</script>
{% endblock %}
