{% extends 'layouts/base.html' %}

{% block content %}

<main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-100">
    <div class="container px-6 py-8 mx-auto flex flex-col gap-6">
        <div class="p-6 bg-white rounded-lg shadow {{ styles }}">
            <h2 class="mb-2 text-2xl font-bold">Welcome back 👋</h2>

            <p class="mb-4 text-gray-600">We're excited to introduce our new and improved web interface,
                designed to enhance your experience. Here are the key updates:</p>
            <p class="mb-4 text-gray-600">- Sleek, User-Friendly Design: The new interface makes navigation smoother and
                more intuitive.</p>
        </div>
</main>

{% endblock %}
